{% extends "rango/base.html" %}

{% block body_block %}
{% if validlink %}

<form method="post" action=".">
	{% csrf_token %}
	{{ form.as_p }}
	
	<input type="submit" value="Submit" />
</form>

{% else %}
<p> Password reset faield </p>

{% endif %}
{% endblock %}
