{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %} About {% endblock %}
	
{% block body_block %}
	<div class="page-header">
		<h1> About </h1>
		</div>
		<div>
		<p> Rango says welcome to the about page<br /></p>
		<p> You have visited the website a total of {{ visits }} times </p>
		<button id="about-btn">Click Me - I'm javascript on speed </button> 
		<img src="{% static "images/therango.jpg" %}" alt="Picture of Rango" />
		</div>
{% endblock %}
