{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}Add Category{% endblock %}
{% block body_block %}

		<form role="form" id="category_form" method="post" action="{% url 'rango:add_category' %}">
	<h2 class="form-signin-heading">Add a Category </h2>
		
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
			{% endfor %}
			
			<br />
		<button class="btn btn-primary" type="submit" name="submit">Add Category</button>
		</form>
{% endblock %}
