{% extends 'rango/base.html' %}

{% load staticfiles %}

	{% block title %}{{ category_name }}{% endblock %}


{%block body_block %}
	<div class="page-header">
		<h1>{{ category_name }}</h1>
	</div>
		{% if category %}
		<div id="pages">
			{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>No pages currently in category.</strong>
				<br />
			{% endif %}
			
		</div>
			<p>
			<strong id="like_count">{{ category.likes }}</strong> people like this category</p>
			{% if user.is_authenticated %}
					<button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					Like
					</button>
			</p>
			<a href="{% url 'rango:add_page' category.slug %}"><h4>Add a Page</h4></a>
			<br />

			<br />
	<h4> Didn't find the page you wanted? Search below </h4>
				
	<div class="row">
		<div class="panel panel-primary">
			<br />
			
			<form class="form-inline" id="user_form" method="post" action="{% url 'rango:category' category.slug %}">
				{% csrf_token %}
				
				<input class="form-control" type="text" size="50" name="query" value="" id="query" />
				<input class="btn btn-primary" type="submit" name="submit" value="Search" />
				<br />
			</form>
			
			<div class="panel">
				{% if result_list %}
					<div class="panel-heading">
					<h3 class="panel-title">Results</h3>
					
					<div class="panel-body">
						<div class="list-group">
							{% for result in result_list %}
								<div class="list-group-item">
									<h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
									<button data-catid="{{category.id}}" data-title="{{result.title}}" data-url="{{ result.link }}" class="rango-add btn btn-mini btn-info" type="button">Add</button> 
									<p class="list-group-item-text">{{ result.summary }}</p>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
</div>
		{% endif %}
		{% else %}
			The specified category {{ category_name }} does not exist!
		{% endif %}
{% endblock %}

