<ul class="nav nav-list">
	{% if cat_list %}
		{% for cat in cat_list %}
			<li><a href="{% url 'rango:category' cat.slug %}">{{ cat.name }}</a></li>
			
			{% endfor %}
		{% else %}
			<li>No categories present.</li>
		{% endif %}
</ul>
