{% extends 'rango/base.html' %}
{% load staticfiles %} 

{% block body_block %}
	<div class="page-header">
		{% if user.is_authenticated %}
		<h1>Rango says...hello {{ user.username }}!</h1>
		{% else %}
		<h1>Rango says...hello world!</h1>
		{% endif %}
	</div>
		<div class="row placeholders">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Categories</h3>
				</div>
			</div>
				{% if categories %}
					<ul class="list-group">
						{% for category in categories %}
						<li class="list-group-item"><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li> 
						{% endfor %}
					</ul>
				{% else %}
					<strong>There are no categories present. </strong>
				{% endif %}
		
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Pages</h3>
				</div>
			</div>
					{% if pages %}
						<ul class="list-group">
							{% for page in pages %}
							<li class="list-group-item">{{ page.title }} </li>
							{% endfor %}
						</ul>
					{% else %}
						<strong>There are no pages present</strong>
					{% endif %}
		</div>
	<p> You have visited the website a total of {{ visits }} times </p>
	<img src="{% static "images/therango.jpg" %}" alt="Picture of Rango" /><br />
{% endblock %}
	

