{% extends 'rango/base.html' %}
{% block body_block %}
<h1> Profile </h1>
<p> Username: {{ user.username }} </p>
<p> email : {{ user.email }} </p>
<p> website: {{ userprofile.website }} </p>
{% if userprofile.picture %}
<p> picture: {{ userprofile.picture }} </p>
{% endif %}
{% endblock %}
