{% extends 'rango/base.html' %}
{% block body_block %}
		<h1>Profile Registration</h1>
		
		<form id="userprofile_form" method="post" action="{% url 'rango:add_profile' %}" enctype="multipart/form-data">
		
			{% csrf_token %}
			
			{{ profile_form.as_p }}
			
			<input type="submit" name="submit" value="SaveProfile" />
		</form>

{% endblock %}
