<!--
LEGACY CODE
{% extends 'rango/base.html' %}
{% block body_block %}
		<h1>Register with Rango</h1>
		
		{% if regsitered %}
		Rango says: <strong>thank you for registering!</strong>
		{% else %}
		Rango says <strong> register here!</strong><br />
		
		<form id="user_form" method="post" action="{%url 'rango:register' %}" enctype="multipart/form-data">
		
			{% csrf_token %}
			
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			
			<input type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
{% endblock %} -->
