{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
	<div class="page-header">
		<h1> Restricted Page </h1>
	</div>
	<h2> Only logged in users can see this text </h2>
{% endblock %}

